body{

	margin:0;
	padding: 0;
	background: url(1.jpg); 
	background-repeat: no-repeat;
	font-family: 'Cinzel', serif;
}

.SignUpbox{
	width: 320px;
	height:520px;
	background: #000;
	color: #fff;
	top: -20%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,50%);
	box-sizing: border-box;
	padding: 30px 30px;
}

.avatar{

	width:80;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top: -36px;
	left: calc(50% - 46px);
}
h1{

	margine: 0;
	padding: 0 0 7px;
	text-align:center;
	font-size: 30px;

}

.signupbox p{
	          margin:0;
	          padding:0;
	          font-weight: bold;

}

.signupbox input{
	width: 100%;
	margin-bottom:20px;
}

.signupbox input[type="text"],input[type="E-mail"],input[type="password"],input[type="Tel"]
{
	border:none;
	border-bottom:1px solid #fff;
	background: transparent;
	outline: none;
    height:40px;
    color: #fff;
    font-size: 16px;
}

.button1:hover
{
	cursor:pointer;
	background: #ffc107;
	color: #000;
}

.signupbox a{
text-decoration: none;
font-size: 12px;
line-height: 20px;	
color: darkgrey;
}
.signupbox a{
	color: #ffc107;
	}

.button1{

	border:none;
	outline:none;
	height: 35px;
	background:#fb2525;
	color:#fff;
    font-size: 18px;  
    border-radius: 20px;
}
.button1{
	width: 100%;
	margin-bottom:20px;
}
